
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle at top right, #1e293b, #0f172a);
    color: white;
    line-height: 1.6;
    scroll-behavior: smooth;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    display: flex;

}
.links a:hover {
    color: #3b82f6;
}

section {
    padding: 80px 10%;
    max-width: 1200px;
    margin: 0 auto;
}

.me {
    text-align: left;
    padding: 120px 10%;
}

.img {
    width: 150px;
    border: 4px solid var(--primary);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);

}

